* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#main_frame {
    position: relative;
    background: #5c8c94;
    width: 800px;
    height: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@font-face {
 font-family: "joystix monospace";
 src: url("./resources/fonts/joystix-monospace.ttf") format("ttf"),
      url("./resources/fonts/joystix-monospace.woff") format("woff")
}

h4.name {
    background: #dae2ff;
    border-color: #818bb0;
    color: #818bb0;
    font-family: "joystix monospace", serif ;
}

body {
    font-family: "joystix monospace", serif ;
    color: #a2cf74;
    background: #3ec2d7;
}

.block {
    cursor: default;
    font-size: 14px;
    padding-bottom: 2px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    position: absolute;
    width: 16px;
    height: 14px;
}

.one {
    background: #cbf39e;
    border-color: #81a060;
    color: #81a060;
}

.two {
    background: #f3e89e;
    border-color: #a09260;
    color: #a09260;
}

.three {
    background: #f39e9e;
    border-color: #a06060;
    color: #a06060;
}

.platform {
    background: #817676;
    border-color: #343232;
    color: #343232;
}

.ball {
    border-radius: 10px;
    background: #ffebda;
    border-color: #b09681;
    color: #b09681;
}

.hit {
    transform: rotate(1turn);
    transition: transform 0.5s;
}

.bonus {
    background: #dae2ff;
    border-color: #818bb0;
    color: #818bb0;
}

.H {
    background: #fcf7f7;
    border-color: #b08181;
    color: #b08181;
}
.L {
    background: #ebffda;
    border-color: #81b08b;
    color: #81b08b;
}
.D {
    background: #d9d6c6;
    border-color: #928258;
    color: #928258;
}

.undefined {
    display: none
}

.play-button {
    padding: 5px;
    font-size: 48px;
    font-family: inherit;
    background: none;
    border-width: 0;
    color: #fcf7f7;
    outline: none;
    margin: 100px auto 200px auto;
    display: block;
}

.play-button:hover {
    background: #b08181;
}

.play-button:active {
    border-width: 0;
    background: #f3e89e;
    color: #a09260;
}

h1 {
    text-align: center;
    color: #fcf7f7;
    margin: auto;
    font-size: 72px;
}

ul {
    color: #fcf7f7;
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0 0 0 20px;
    float: left;
}

ul li {
    margin-top: 10px;
    font-size: 10px;
}

label {
    margin: 0 0 0 40px;
    height: 20px;
    display: block;
    padding-top: 4px;
}

.key-example {
    background: #dae2ff;
    border-color: #818bb0;
    color: #818bb0;
    cursor: default;
    font-size: 14px;
    padding: 0 2px 2px 2px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    position: absolute;
    height: 14px;
}

.key-example-long {
    transform: translateX(-8px);
    font-size: 7px;
    padding: 4px 2px 0 2px;
    height: 12px;
}

.hint {
    padding-left: 20px;
}
